<mat-sidenav-container>
  <mat-sidenav id="main-form" opened="{{ true }}" mode="side">
    <div class="inputs">
      <h2>Sample values</h2>
      <mat-form-field>
        <mat-label>Recipient name:</mat-label>
        <input
          matInput
          type="text"
          [(ngModel)]="recipientName"
          name="recipient-name"
          id="recipient-name"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Emission date:</mat-label>
        <input
          matInput
          type="date"
          [(ngModel)]="emissionDate"
          name="emission-date"
          id="emission-date"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>To certificate:</mat-label>
        <input
          matInput
          type="text"
          [(ngModel)]="certificationTitle"
          name="certification-title"
          id="certification-title"
        />
      </mat-form-field>
      <button mat-flat-button color="primary" (click)="insertValues()">
        Insert values
      </button>
      <mat-divider></mat-divider>
      <h2>Templating</h2>
      <mat-form-field>
        <mat-label>Templates extracted</mat-label>
        <textarea matInput disabled [(ngModel)]="extractedTemplate"></textarea>
      </mat-form-field>
      <button mat-stroked-button color="primary" (click)="extractTemplates()">
        Extract templates as JSON
      </button>
      <mat-form-field>
        <mat-label>Templates to insert</mat-label>
        <textarea matInput [(ngModel)]="toInsertTemplate"></textarea>
      </mat-form-field>
      <button mat-stroked-button color="primary" (click)="insertTemplates()">
        Insert JSON as templates
      </button>
      <mat-divider></mat-divider>
      <button mat-raised-button color="primary" (click)="exportCertificate()">
        Export certificate
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-tab-group [(selectedIndex)]="tabIndex">
      <mat-tab label="Pintura">
        <ng-template matTabContent>
          <pintura-editor
            #editor
            [options]="editorDefaults"
            [src]="src"
          ></pintura-editor>
        </ng-template>
      </mat-tab>
      <mat-tab label="SyncFusion Image Editor">
        <ng-template matTabContent id="#pintura-tab">
          <ejs-imageeditor #sfEditor (created)="created()"></ejs-imageeditor>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </mat-sidenav-content>
</mat-sidenav-container>
